@keyframes my-animation{
    0%   {left:0px; top:0px}
    20%  {left:50px; top:50px}
    40%  {left:100px; top:100px}
    60%  {left:150px; top:150px}
    80%  {left:200px; top:200px}
}
@keyframes you-animation{
    0%   {left:0px; top:0px}
    20%  {left:50px; top:0px}
    40%  {left:100px; top:0px}
    60%  {left:150px; top:0px}
    80%  {left:200px; top:0px}
}
@keyframes shake-animation{
    0%{color: blue; background-color: lightblue; left: 200px; top:0px}
    25%{color: green; background-color: lightgreen; left: 400px; top:0px}
    50%{color: red; background-color: lightpink; left: 600px; top:0px}
    75%{color: yellow; background-color: lightyellow; left: 400px; top:0px}
    100%{color: blue; background-color: lightblue; left: 200px; top:0px}
}
@keyframes me-animation{
    0%{color: blue; background-color: lightblue; left: 0px; top:0px}
    25%{color: green; background-color: lightgreen; left: 200px; top:0px}
    50%{color: red; background-color: lightpink; left: 200px; top:200px}
    75%{color: yellow; background-color: lightyellow; left: 0px; top:200px}
    100%{color: blue; background-color: lightgreen; left: 200px; top:0px}
}